.green {
    border-width: 2px;
    border-color: green;
}

.blue {
    border-width: 2px;
    border-color: blue;
}

.orange {
    border-width: 2px;
    border-color: orange;
}

.red {
    border-width: 2px;
    border-color: red;
}